# <p style="font-size: 24px;">AKUSISI DATA.</p>

In [48]:
import pandas as  pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
data = pd.read_csv('top6000anime.csv')

In [50]:
data.head()

,Unnamed: 0.2,anime_id,title,synopsis,mean,popularity,genres,start_date,num_list_users,media_type,studios,Unnamed: 0.1,Unnamed: 0
0,0,1652,Uchuu Senkan Yamato III,A stray missile from a confrontation between t...,7.01,7756,"['Action', 'Adult Cast', 'Adventure', 'Drama',...",1980-10-11,6935,tv,['Academy Productions'],NaN,NaN
1,1,10321,Uta no☆Prince-sama♪ Maji Love 1000%,"Haruka Nanami, an aspiring composer from the c...",7.01,1255,"['Comedy', 'Idols (Male)', 'Josei', 'Music', '...",2011-07-03,201991,tv,['A-1 Pictures'],NaN,NaN
2,2,50770,Vanitas no Karte: Le Chemin Parcouru Depuis la...,Recap of first cours of Vanitas no Karte narra...,7.01,6976,"['Action', 'Fantasy', 'Historical', 'Mystery',...",2021-12-31,9062,special,['Bones'],NaN,NaN
3,3,37886,Wo Shi Jiang Xiaobai (2018),"Jiang Xiaobai has regained his memories, and T...",7.01,10464,"['Drama', 'Love Polygon', 'Romance', 'Slice of...",2018-05-25,2986,ona,['2:10 Animation'],NaN,NaN
4,4,41215,Xi Xing Ji: Jijie Pian,The journey to the West was a conspiracy of he...,7.01,13158,"['Action', 'Adventure', 'Fantasy', 'Historical...",2019-09-28,1300,ona,['BYMENT'],NaN,NaN

In [51]:
data.drop(columns=['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.2'], inplace=True,axis=1)
data.head()

,anime_id,title,synopsis,mean,popularity,genres,start_date,num_list_users,media_type,studios
0,1652,Uchuu Senkan Yamato III,A stray missile from a confrontation between t...,7.01,7756,"['Action', 'Adult Cast', 'Adventure', 'Drama',...",1980-10-11,6935,tv,['Academy Productions']
1,10321,Uta no☆Prince-sama♪ Maji Love 1000%,"Haruka Nanami, an aspiring composer from the c...",7.01,1255,"['Comedy', 'Idols (Male)', 'Josei', 'Music', '...",2011-07-03,201991,tv,['A-1 Pictures']
2,50770,Vanitas no Karte: Le Chemin Parcouru Depuis la...,Recap of first cours of Vanitas no Karte narra...,7.01,6976,"['Action', 'Fantasy', 'Historical', 'Mystery',...",2021-12-31,9062,special,['Bones']
3,37886,Wo Shi Jiang Xiaobai (2018),"Jiang Xiaobai has regained his memories, and T...",7.01,10464,"['Drama', 'Love Polygon', 'Romance', 'Slice of...",2018-05-25,2986,ona,['2:10 Animation']
4,41215,Xi Xing Ji: Jijie Pian,The journey to the West was a conspiracy of he...,7.01,13158,"['Action', 'Adventure', 'Fantasy', 'Historical...",2019-09-28,1300,ona,['BYMENT']

In [52]:
data.isnull().sum()

anime_id           0
title              0
synopsis          63
mean               0
popularity         0
genres             0
start_date         0
num_list_users     0
media_type         0
studios            0
dtype: int64

In [53]:
data.dropna(inplace=True)

In [54]:
data.isnull().sum()

anime_id          0
title             0
synopsis          0
mean              0
popularity        0
genres            0
start_date        0
num_list_users    0
media_type        0
studios           0
dtype: int64

In [55]:
data['jumlah_kata'] = data['synopsis'].apply(lambda x: len(x.split()))
new_data = data[data['jumlah_kata'] > 50]
new_data = new_data.drop(columns=['jumlah_kata'])

In [56]:
new_data = new_data.drop(columns=['num_list_users','media_type','studios'])

In [57]:
import pandas as pd

def extract_year(date_str):

    if date_str.isdigit() and len(date_str) == 4:
        return date_str
    else:
        try:
            return pd.to_datetime(date_str).year
        except ValueError:
            return None

new_data['rilis_tahun'] = new_data['start_date'].apply(extract_year)

In [58]:
new_data = new_data.drop(columns=['start_date'])
new_data = new_data.sort_values(by='popularity',ascending=True)

In [59]:
new_data.head()

,anime_id,title,synopsis,mean,popularity,genres,rilis_tahun
4016,16498,Shingeki no Kyojin,"Centuries ago, mankind was slaughtered to near...",8.55,1,"['Action', 'Award Winning', 'Drama', 'Gore', '...",2013
3990,1535,Death Note,"Brutal murders, petty thefts, and senseless vi...",8.62,2,"['Psychological', 'Shounen', 'Supernatural', '...",2006
3901,5114,Fullmetal Alchemist: Brotherhood,After a horrific alchemy experiment goes wrong...,9.10,3,"['Action', 'Adventure', 'Drama', 'Fantasy', 'M...",2009
4046,30276,One Punch Man,The seemingly unimpressive Saitama has a rathe...,8.49,4,"['Action', 'Adult Cast', 'Comedy', 'Parody', '...",2015
4062,38000,Kimetsu no Yaiba,"Ever since the death of his father, the burden...",8.45,5,"['Action', 'Award Winning', 'Historical', 'Sho...",2019

# <p style="font-size: 24px;">TEXT PREPROCESSING.</p>

In [60]:
def label_era(year):
    if pd.isna(year):
        return None
    year = int(year)
    if year >= 2020:
        return "2020's"
    elif year >= 2010:
        return "2010's"
    elif year >= 2000:
        return "2000's"
    elif year >= 1990:
        return "1990's"
    elif year >= 1980:
        return "1980's"
    elif year >= 1970:
        return "1970's"
    else:
        return "sebelum 1970's"

new_data['era'] = new_data['rilis_tahun'].apply(label_era)

In [61]:
import re

def extract_genres_consistent(genres_str):
    genres = re.findall(r'[A-Za-z]+(?:[- ][A-Za-z]+)*', genres_str)
    genres = [genre.lower() for genre in genres]
    genres = sorted(set(genres))
    return genres

new_data['genres_list'] = new_data['genres'].apply(extract_genres_consistent)

In [62]:

genre_counts = {}
for index in new_data.index:
    for genre in new_data.loc[index, 'genres_list']:
        if genre in genre_counts:
            genre_counts[genre] += 1
        else:
            genre_counts[genre] = 1
len(genre_counts)

77

In [63]:
new_data = new_data.drop(columns=['genres','rilis_tahun'])

In [64]:
new_data['synopsis'] = new_data['synopsis'].apply(str.lower)
new_data['synopsis']

4016    centuries ago, mankind was slaughtered to near...
3990    brutal murders, petty thefts, and senseless vi...
3901    after a horrific alchemy experiment goes wrong...
4046    the seemingly unimpressive saitama has a rathe...
4062    ever since the death of his father, the burden...
                              ...
3560    zheng shaopeng, a high school student, dozed o...
1132    the first demon came to earth at the very begi...
579     the goddess of the machine god descended to ea...
829     a few years after the anshi rebellion, the tib...
1388    i often fall into the fantasy upon her back. w...
Name: synopsis, Length: 4481, dtype: object

In [65]:
new_data['synopsis'][0]

'a stray missile from a confrontation between the galman empire and the bolar federation crashes into the sun, turning it into a time bomb of radiation. the star force once again sets off into space, this time on a quest to look for a new world for the human race. \n\n(source: ann) '

In [66]:
import re

def clean_sinopsis(text):
    text = str(text)
    # Menghapus bagian '[Written by MAL Rewrite]'
    text = re.sub(r'\[Written by MAL Rewrite\]', '', text)

    # Menghapus bagian '(Source: Official site, translated)' atau format sejenis
    text = re.sub(r'\(Source: [^\)]+\)', '', text)

    # Menghapus informasi yang ditulis dalam tanda kurung siku atau lainnya yang bersifat kredensial
    text = re.sub(r'\[.*?\]', '', text)  # Menghapus teks dalam tanda kurung siku []

    #menghapus text dalam tanda parenthesses
    text = re.sub(r'\(.*?\)', '', text)


    # Menangani newline atau spasi berlebih yang mungkin ditinggalkan
    text = re.sub(r'\s+', ' ', text).strip()

    return text

new_data['synopsis'] = new_data['synopsis'].apply(clean_sinopsis)

In [67]:
# Menghapus tanda baca
import string

new_data['synopsis'] = new_data['synopsis'].str.translate(str.maketrans('', '', string.punctuation))

In [68]:
new_data['synopsis'][0]

'a stray missile from a confrontation between the galman empire and the bolar federation crashes into the sun turning it into a time bomb of radiation the star force once again sets off into space this time on a quest to look for a new world for the human race'

In [69]:
# mengapus angka dalam text
def hapus_angka(text):
    return ''.join([i for i in text if not i.isdigit()])

new_data['synopsis'] = new_data['synopsis'].apply(hapus_angka)

In [70]:
def clean_text(text):
    text = str(text)
    text = re.sub(r'[^\w\s]', '', text)
    return text

new_data['synopsis'] = new_data['synopsis'].apply(clean_text)

In [71]:
anime_specific_stopwords = {
    # Tetap karena filler umum dalam narasi anime
    'protagonist', 'antagonist', 'character', 'group', 'friends', 'team', 'companion', 'sidekick',
    'journey', 'quest', 'mission', 'adventure', 'battle', 'fight', 'war', 'conflict',
    'story', 'plot', 'arc', 'episode', 'part', 'chapter','a','an'
    # 'first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth',
    'follows', 'continues', 'begins', 'starts', 'revolves', 'focuses', 'explores', 'introduces', 'tells',
    'discovers', 'embarks', 'returns', 'takes place', 'centers around','on','of','the'
    'faced', 'forced', 'must',

    # Dihapus karena relevan dalam beberapa konteks
    # 'tries', 'seeks', 'aims', 'struggles',

    'season', 'series', 'volume', 'show', 'animation',

    # Dihapus karena dapat relevan dengan elemen cerita
    # 'powerful', 'unknown', 'secret', 'hidden',

    'normal', 'ordinary', 'typical',

    # Tetap, terlalu umum
    'city', 'town', 'village',
    'years', 'months', 'days', 'hours', 'minutes', 'seconds',
    'year', 'month', 'day', 'hour', 'minute', 'second',

    # Dihapus karena numerik bisa relevan
    'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten',
}

In [72]:
import nltk
nltk.download('punkt_tab')
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from nltk.tokenize import word_tokenize

all_stopwords = stop_words.union(anime_specific_stopwords)
def remove_stopwords(text):
    words = word_tokenize(text)
    filtered_words = [word for word in words if word.lower() not in all_stopwords]
    return " ".join(filtered_words)

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
new_data['synopsis']=  new_data['synopsis'].apply(remove_stopwords)

In [74]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk import pos_tag


nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger_eng')
lemmatizer = WordNetLemmatizer()
def get_wordnet_pos(tag):
    if tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def lemmatize_text(text):
    text_token = word_tokenize(text)
    tagged_words = pos_tag(text_token)
    lemmatized_words = [lemmatizer.lemmatize(word, get_wordnet_pos(tag)) for word, tag in tagged_words]
    return lemmatized_words

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\mocha\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

In [75]:
new_data['synopsis'] = new_data['synopsis'].apply(lemmatize_text)

In [76]:
new_data['synopsis'][0]

['stray',
 'missile',
 'confrontation',
 'galman',
 'empire',
 'bolar',
 'federation',
 'crash',
 'sun',
 'turn',
 'time',
 'bomb',
 'radiation',
 'star',
 'force',
 'set',
 'space',
 'time',
 'look',
 'new',
 'world',
 'human',
 'race']

In [77]:
def join_word(text):
    return ' '.join(text)

In [78]:
new_data = new_data.reset_index()

In [79]:
new_data['synopsis'] = new_data['synopsis'].apply(join_word)

In [80]:
new_data['tags'] = new_data['synopsis'] + " " + new_data['genres_list'].apply(lambda x: ', '.join(x)) + " " + new_data['era']

# <p style="font-size: 24px;">THRESHOLD SUBSET ANIME HIDDEN_GEM.</p>

In [81]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(new_data[['popularity','mean']])
new_data[['inverse_popularity','mean_norm']] = scaler.transform(new_data[['popularity','mean']])

In [82]:
threshold_pop = new_data['inverse_popularity'].quantile(0.11)
threshold_mean = new_data['mean'].quantile(0.7)

hidden_gem = new_data[(new_data['inverse_popularity'] >= threshold_pop) & (new_data['mean'] >= threshold_mean)]

hidden_gem = hidden_gem.sort_values(by='popularity', ascending=False)
hidden_gem.reset_index(drop=True, inplace=True)
len(hidden_gem)

1017

In [83]:
hidden_gem = hidden_gem.sort_values(by='popularity', ascending=True)

In [84]:
new_data = new_data.drop(columns=['mean', 'popularity','inverse_popularity','mean_norm'])

In [85]:
hidden_gem = hidden_gem.drop(columns=['mean', 'popularity','inverse_popularity','mean_norm'])

In [86]:
new_data = new_data.drop(columns=['index'])

In [87]:
hidden_gem = hidden_gem.drop(columns=['index'])

In [88]:
hidden_gem.to_csv('subset_hg.csv',index=False)

In [89]:
import pickle

pickle.dump(new_data ,open('anime_list.pkl','wb'))
pickle.dump(hidden_gem,open('hidden_gem_list.pkl','wb'))

# <p style="font-size: 24px;">MODEL</p>

In [90]:
vec = TfidfVectorizer(max_features=5000)

In [91]:
vector1 = vec.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [92]:
vector1.shape

(4481, 5000)

In [93]:
similiary = cosine_similarity(vector1)

In [94]:
from scipy.spatial import distance
import numpy as np

binary_matrix = (vector1 > 0).astype(int)

jacard_dist = distance.pdist(binary_matrix, metric='jaccard')
jaccard_sim_matrix = 1 - distance.squareform(jacard_dist)

In [118]:
anime_idx = 8
sorted_similarity = sorted(
    [(idx, sim) for idx, sim in enumerate(similiary[anime_idx])],  # Ambil semua pasangan (index, similarity)
    key=lambda x: x[1],  # Urutkan berdasarkan similarity
    reverse=True  # Urutkan dari yang paling tinggi
)
sorted_similarity= sorted_similarity[1:10]
anime_indices = [i[0] for i in sorted_similarity]
skor = [i[1] for i in sorted_similarity]
rekomen_anime  = new_data.iloc[anime_indices]['title'].values
for i,anime in enumerate(rekomen_anime, start=1):
        print(f"{i}. {anime} ,\n Skor: {skor[i-1]}")# Cetak hasil

1. Naruto: Shippuuden Movie 4 - The Lost Tower ,
 Skor: 0.3836296395121555
2. Naruto: Shippuuden Movie 6 - Road to Ninja ,
 Skor: 0.36871876050839275
3. Naruto: Shippuuden ,
 Skor: 0.3548952269612205
4. Naruto: Shippuuden Movie 2 - Kizuna ,
 Skor: 0.3363566890533218
5. Naruto: Takigakure no Shitou - Ore ga Eiyuu Dattebayo! ,
 Skor: 0.30646262071350017
6. Naruto Movie 2: Dai Gekitotsu! Maboroshi no Chiteiiseki Dattebayo! ,
 Skor: 0.28915508374569093
7. Boruto: Naruto the Movie ,
 Skor: 0.2796487301747636
8. Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsugu Mono ,
 Skor: 0.26323046961124297
9. Naruto: Shippuuden Movie 5 - Blood Prison ,
 Skor: 0.25918446248965554

In [96]:
similiary

array([[1.        , 0.05403548, 0.06019925, ..., 0.01496654, 0.05463241,
        0.01830543],
       [0.05403548, 1.        , 0.05231771, ..., 0.06892249, 0.        ,
        0.06219664],
       [0.06019925, 0.05231771, 1.        , ..., 0.03369965, 0.03361944,
        0.02105125],
       ...,
       [0.01496654, 0.06892249, 0.03369965, ..., 1.        , 0.0396224 ,
        0.01179174],
       [0.05463241, 0.        , 0.03361944, ..., 0.0396224 , 1.        ,
        0.        ],
       [0.01830543, 0.06219664, 0.02105125, ..., 0.01179174, 0.        ,
        1.        ]])

In [97]:
new_data[new_data['title'] == 'Naruto'].index[0]

8

In [105]:
distance = sorted(list(enumerate(jaccard_sim_matrix[8])), reverse=True, key=lambda vector1:vector1[1])
for i in distance[:10]:
    print(new_data.iloc[i[0]].title)

Naruto
Naruto: Takigakure no Shitou - Ore ga Eiyuu Dattebayo!
Naruto: Shippuuden Movie 1
Bouken Ou Beet
Bouken Ou Beet Excellion
Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsugu Mono
Naruto: Honoo no Chuunin Shiken! Naruto vs. Konohamaru!!
Shi Cao Lao Long Bei Guan Yi E Long Zhi Ming
Nabari no Ou
Nanatsu no Taizai Movie 1: Tenkuu no Torawarebito

In [99]:
pickle.dump(similiary,open('model_similiarity.pkl','wb'))
pickle.dump(jaccard_sim_matrix,open('model_jaccurd.pkl','wb'))

In [100]:
new_data.iloc[i[0]].anime_id

10589